.logo {

   display: flex;
   /* margin-left: 215px; */
   margin-right: 93px;
   align-items: center;

   margin-top: 24px;
   margin-bottom: 25px;

   color: $accent-color;
   font-family: $fonts;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   text-decoration: none;
}
.logo-accent {
   color: $logo-accent-color;
}